<html>

<head>
    <title>Calc Home Page</title>
    <style>
        p {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <h1 style="display: flex; justify-content: center; align-items: center;">Hello world!</h1>
    <h2 style="display: flex; justify-content: center; align-items: center;">Required option to make calculator API to
        work are</h2>
    <p>localhost:3000/addition</p>
    <p>localhost:3000/substraction</p>
    <p>localhost:3000/multiplication</p>
    <p>localhost:3000/division</p>
</body>

</html>